@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "chirp";
  src: url("../assets/twitterchirp.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    /* Background color for <Card /> */
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    /* Primary colors for <Button /> */
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;

    /* Secondary colors for <Button /> */
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    /* Default border color */
    --border: 220 13% 91%;

    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 220 13% 91%;

    /* Used for focus ring */
    --ring: 262.1 83.3% 57.8%;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;

    /* Start of project-specific custom variables */
    /* Used for post likes */
    --like: #ef4444;
    /* Used for post comments */
    --comment: #0ea5e9;
    /* Used for post bookmark */
    --bookmark: #22c55e;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;

    /* Start of project-specific custom variables */
    /* Used for post likes */
    --like: #ef4444;

    /* Used for post comments */
    --comment: #0ea5e9;

    /* Used for post bookmark */
    --bookmark: #22c55e;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  html {
    @apply font-chirp;
  }
  body {
    @apply bg-background text-foreground min-h-[101vh] overflow-x-hidden;
  }
  div {
    [contentEditable="true"]:empty:not(:focus):before {
      content: attr(data-text);
      color: #94a3b8;
    }
  }
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply rounded shadow-inner;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 rounded-xl;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  }
}

@layer components {
  .active {
    @apply font-bold tracking-tight rounded-3xl underline underline-offset-8;
  }
  .transition-linear-bg-primary {
    @apply transition ease-linear hover:bg-primary duration-200;
  }
  .transition-linear-bg-secondary {
    @apply transition ease-linear hover:bg-secondary duration-200;
  }
  .transition-linear-border-primary {
    @apply transition ease-linear hover:border-primary duration-200;
  }
  .transition-linear-border-secondary {
    @apply transition ease-linear hover:border-secondary duration-200;
  }
  .search-bar-focus {
    @apply focus-within:bg-secondary focus-within:text-secondary-foreground focus-within:border-2 focus-within:border-primary;
  }
}
