/*

--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight
Default: 400

- Line heights
Default: 1

--- 02 COLORS
- Primary:
- Tints:
- Shades:
- Accents:
- Greys:

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "chirp";
  src: url("../assets/twitterchirp.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: #ffffff;
    --foreground: #020817;

    /* Background color for <Card /> */
    --card: #ffffff;
    --card-foreground: #020817;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: #ffffff;
    --popover-foreground: #020817;

    /* Primary colors for <Button /> */
    --primary: #0f172a;
    --primary-foreground: #f8fafc;

    /* Secondary colors for <Button /> */
    --secondary: #c7b1e1;
    --secondary-foreground: #0f172a;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: #cbb0f3;
    --accent-foreground: #0f172a;

    /* Used for successful actions */
    --success: #40c840;
    --success-foreground: #f8fafc;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    /* Default border color */
    --border: #242424;

    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: #e2e8f0;

    /* Used for focus ring */
    --ring: #020817;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;
  }

  .dark {
    --background: #000000;
    --foreground: #f8fafc;

    --card: #020817;
    --card-foreground: #f8fafc;

    --popover: #020817;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #0f172a;

    --secondary: #111010;
    --secondary-foreground: #8456ef;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --accent: #8b5cf6;
    --accent-foreground: #f8fafc;

    --success: #3a8b3a;
    --success-foreground: #f8fafc;

    --destructive: #eb3737;
    --destructive-foreground: #f8fafc;

    --border: #334155;
    --input: #1e293b;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  html {
    @apply font-chirp;
  }
  body {
    @apply bg-background text-foreground;
  }
  div {
    [contentEditable="true"]:empty:not(:focus):before {
      content: attr(data-text);
      color: #94a3b8;
    }
  }
}

@layer components {
  .active {
    @apply text-secondary-foreground bg-secondary rounded-3xl;
  }

  .hover-primary {
    @apply hover:bg-accent hover:text-primary;
  }

  .hover-secondary {
    @apply hover:text-secondary-foreground hover:bg-secondary;
  }
}
