/*

--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight
Default: 400

- Line heights
Default: 1

--- 02 COLORS
- Primary:
- Tints:
- Shades:
- Accents:
- Greys:

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: #ffffff;
    --foreground: #020817;

    /* Background color for <Card /> */
    --card: #ffffff;
    --card-foreground: #020817;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: #ffffff;
    --popover-foreground: #020817;

    /* Primary colors for <Button /> */
    --primary: #0f172a;
    --primary-foreground: #f8fafc;

    /* Secondary colors for <Button /> */
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    /* Default border color */
    --border: #e2e8f0;

    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: #e2e8f0;

    /* Used for focus ring */
    --ring: #020817;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;
  }

  .dark {
    --background: #020817;
    --foreground: #f8fafc;

    --card: #020817;
    --card-foreground: #f8fafc;

    --popover: #020817;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #0f172a;

    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --accent: #1e293b;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #a3bbe2;
    --input: #1e293b;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  html {
    @apply font-sans;
  }
  body {
    @apply bg-background text-foreground max-w-[1400px] mx-auto min-h-screen;
  }
}
